html, body {
    background:url(../img/bg.jpg) center center no-repeat;
    height: 100%;
    background-size: cover;
}
@media(max-width: 768px) {
    #logo img {
        width: 50%;
    }
    #counter .countdown {
        font-size: 1.4em !important
    }
    #icons .fa {
        margin:10px 0 0 !important
        font-size: 2em;
    }
}


@media(min-width: 321x)
    and (max-width:568px) {
        #logo img {
            width: 20%;
        }
    }

#logo, img {
    padding-top: 15px;
}

.intro, p {
    color: white;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 1.9em;
}

.counter, .countdown {
    text-align: center;
    color: white;
    font-family: 'Caveat Brush', cursive;
    font-size: 3em;
    margin: -15px 0 0;
}

#icons {
    text-align: center;
}

#icons .fab, .fas {
    color: white;
    margin: 5px 33px;
    position: relative;
    bottom: 0;
    transition: all 0.2s ease-in-out;
}

#icons .jedi:hover, .dungeon:hover, .bahai:hover {
    color:#6cadde;
    bottom: 5px;
}

#signup {
    text-align: center;
}

#signup .form-inline {
    display: block;
}

#signup .btn-signup {
    background-color: rgba(161,186,226,0.5);
    color: white;
}

#signup .btn:hover {
    background-color: rgba(37,165,82,1);
}